<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>Nursing Staff Planning and Scheduling Excellence</title>
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    @*<!-- animation CSS -->
    <link href="~/Content/css/login/animate.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/css/login/style.css" rel="stylesheet" />
    <!-- color CSS -->
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">*@

</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    @RenderBody()
    <!-- jQuery -->
    <script src="~/Content/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.js"></script>

    @RenderSection("scripts", required: false)
    <!--Style Switcher -->
    @*<script src="../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>*@

</body>
</html>